body{
    background-color: aquamarine;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

img{
    display: block;
    width: 200px;
}

.seccion{
    background-color: aquamarine;
    display: block;
}
.seccion2{
    background-color: aquamarine;
    display: block;
}

.seccion3{
    background-color: aquamarine;
    display: block;
}

.seccion3 .form-container{
    background-color: aquamarine;
    display:inline;
    padding: 20px 20px;
 
}